---
import { getLangFromUrl, useTranslations } from '@i18n/utils'
import { getEntry } from 'astro:content'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const { data } = await getEntry('about', lang)
---

<section class="m-3 text-pretty">
  <h1
    class="font-bold text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl mb-7"
  >
    {data.greeting}
  </h1>
  <p class="sm:text-sm md:text-base lg:text-lg xl:text-xl mb-7">
    {data.paragraph}
  </p>

  <p class="sm:text-sm md:text-base lg:text-lg xl:text-xl">
    {data.paragraph2}
  </p>

  <a
    href="https://drive.google.com/file/d/1F_on-ISJQ9gVsn-w0envkts_OM2990hX/view?usp=sharing"
    title={t('cv')}
    target="_blank"
    rel="noopener noreferrer"
    class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-10"
  >
    {t('cv')}
  </a>
</section>
