<section class="m-3 text-pretty">
  <h1
    class="font-bold text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl mb-7"
  >
    ¡Hola! Soy Jeffer, un desarrollador web Full Stack.
  </h1>
  <p class="sm:text-sm md:text-base lg:text-lg xl:text-xl mb-7">
    Cuento con más de un año de experiencia en el desarrollo de aplicaciones web
    y actualmente curso los últimos semestres de Ingeniería en Software.
  </p>

  <p class="sm:text-sm md:text-base lg:text-lg xl:text-xl">
    La programación es mi pasión y disfruto creando soluciones innovadoras y
    eficientes para los desafíos del mundo digital. Como persona, me caracterizo
    por ser creativo, responsable y estar plenamente comprometido con mi
    trabajo.
  </p>

  <a
    href="https://drive.google.com/file/d/1F_on-ISJQ9gVsn-w0envkts_OM2990hX/view?usp=sharing"
    target="_blank"
    rel="noopener noreferrer"
    class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-10"
  >
    Descargar CV
  </a>
</section>
