---
import ExperienceItem from '@components/ExperienceItem.astro'
import BriefcaseIcon from '@components/icons/Briefcase.astro'
import { getLangFromUrl, useTranslations } from '@i18n/utils'
import { getJobsData } from 'src/utils/content'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const data = await getJobsData(lang)
---

<section id="experience">
  <h2
    class="text-3xl font-semibold flex gap-x-3 justify-center items-center my-4"
  >
    <BriefcaseIcon />
    {t('experience')}
  </h2>

  <ol class="relative border-s border-gray-200 ml-3">
    {
      data.map((job) => (
        <li class="mb-10 ms-4">
          <ExperienceItem job={job} />
        </li>
      ))
    }
  </ol>
</section>
