---
import SocialPill from '@components/SocialPill.astro'
import GitHubIcon from '@components/icons/GitHub.astro'
import LinkedInIcon from '@components/icons/LinkedIn.astro'
import MailIcon from '@components/icons/Mail.astro'
---

<section
  class="flex flex-wrap flex-row gap-y-2 gap-x-1 justify-center items-center"
>
  <SocialPill href="https://github.com/JefferGonzalez" title="GitHub">
    <GitHubIcon className="md:size-5" />
  </SocialPill>
  <SocialPill
    href="https://www.linkedin.com/in/jeffergonzalez"
    title="LinkedIn"
  >
    <LinkedInIcon className="md:size-5" />
  </SocialPill>
  <SocialPill
    href="mailto:jeffersongonzalezcely@hotmail.com?subject=Hello%20Jeffer&body=Hi!%20I%20found%20your%20website%20and%20I%20want%20to%20talk%20with%20you%20about..."
    title="Email"
    text="jeffersongonzalezcely@hotmail.com"
  >
    <MailIcon className="md:size-5" />
  </SocialPill>
</section>
