---
import Layout from '@layouts/Layout.astro'
---

<Layout
  title="@JefferGonzález"
  description="Portfolio de Jefferson González. Full Stack Developer, apasionado por la tecnología y el desarrollo de software."
  image="/logo.webp"
>
  <div class="flex flex-col items-center justify-center w-full h-screen">
    <p class="text-base font-semibold text-blue-500">404</p>
    <h1 class="mt-4 text-3xl font-bold tracking-tight sm:text-5xl">
      ¡Ups! Página no encontrada.
    </h1>
    <p class="mt-6 text-base leading-7 text-gray-200 text-pretty">
      Parece que te has perdido, pero la página que estás buscando está en otro
      lugar.
    </p>
    <div class="mt-6">
      <a
        href="/"
        class="inline-flex items-center justify-center px-4 py-2 text-base font-medium text-white bg-blue-500 border border-transparent rounded-md shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
      >
        Volver al inicio
      </a>
    </div>
  </div>
</Layout>
