---
interface Props {
  className?: string
}

const { className } = Astro.props
---

<div
  class:list={[
    'p-2',
    'rounded-xl',
    'bg-black',
    'bg-transparent-70',
    'shadow-xl',
    'min-h-12.5',
    'glow-item',
    className
  ]}
>
  <span class="glows"></span>
  <slot />
</div>
